

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

    <div class="log"class="container">
      <p3>LOG into Application</p3>
    </div>
    
    <form method="post" action="">
      <div class="login">
        <img src="photos/274969138_658284191955195_2560674278615144003_n.jpg" alt="user">
        <h2>Login</h2>
        <input type="text"placeholder="email" name="email">
        <input type="password"placeholder="enter password"img src="photos/3.png" alt="pass" name="password">
        
        <input type="submit">
        <p>Forget password?</p>
      </div>
    

    </form>
    
    <div class="u">
      <button type="button" class="btn btn-primary btn-block">Continue with Google <img src="photos/g.jpg" alt="google"style="width:20px;"> </button>
      <button type="button" class="btn btn-primary btn-block">Continue with Apple  <img src="photos/a.jpg" alt="apple"style="width:20px;"></button>
      <button type="button" class="btn btn-primary btn-block">Fontinue with Facebook <img src="photos/f.jpg" alt="facebook"style="width: 20px;"></button>
    </div>

    <div class="er">
      <a href="/signup">Creat Account?</a>
    </div>
    

</body>
</html>